<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>It-Market</title>

    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/custom.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="/assets/custom.css">

</head>

<body id="page-top">

<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-nav">
    <div class="container">
        <a class="navbar-brand" href="index.html">IT_MARKET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-0">
                <li class="nav-item m-auto">
                    <a class="nav-link active nav-hover" href="/login"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white nav-hover" href="/login"><i class='fas fa-sign-in-alt'></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="jumbotron text-center blog">
    <h1 class="text-white text-uppercase big-heading">IT Market</h1>
    <div class="divider-custom text-white">
        <div class="divider-custom-line mr-1 bg-light"></div>
        <div class="divider-custom-icon"><i class="fas fa-desktop big-icon"></i></div>
        <div class="divider-custom-line ml-1 bg-light"></div>
    </div>
    <h5 class="text-white text-uppercase">BUY&SELL mobiles, laptops, tablets....</h5>
</section>

<section class="page-section products" id="products">
    <div class="container">
        <!-- Section Heading-->
        <!-- Grid Items-->
        <div class="row justify-content-center" th:if="${products.size() > 0}">
            <!-- Items-->
            <div class="col-md-6 col-lg-4 mb-5 classhover p-2" th:each="product : ${products}" th:if="${product.getPublished() == '1'}">

                <div class="portfolio-item mx-auto text-center" data-toggle="modal" th:attr="data-target='#prod'+ ${product.getId()}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <h4 class="text-center" th:text="${product.getName()}"></h4>

                    <img class="mt-2" style="width: 155px;" th:src="${product.getImageBase64()}"/>

                    <h6 class="colb mt-3 p-2">
                        <span class="mt-2 mb-2 mr-5">Regular price:</span>
                        <span class="float-right mr-5" th:text="${product.getPrice()} + ' $'"> </span>
                    </h6>
                    <h6 class="colb p-2">
                        <span class="mt-2 mb-2 mr-5">Discount price:</span>
                        <span class=" float-right text-primary mr-5" th:text="${product.getDisc_price()} + ' $'"></span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Modals-->
<div th:if="${product.getPublished() == '1'}" th:each="product : ${products}" class=" modal fade" th:id="'prod'+ ${product.getId()}" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content bg-light">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="float-right mr-2"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center p-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Modal - Title-->
                            <h2 class="portfolio-modal-title text-uppercase mb-0" th:text="${product.getName()}"></h2>

                            <!-- Modal - Image-->
                            <img class="mt-5 mb-5" style="width: 200px;" th:src="${product.getImageBase64()}"/>
                            <!-- Modal - Text-->
                            <h6 class="mb-4 brd p-2" th:text="${product.getDescription()}"></h6>
                            <div class="row justify-content-center mt-2 mb-5">
                                <div class="col-12 brd mt-2">
                                    <h6 class="float-left mt-1">Category:</h6>
                                    <h6 class="float-right mt-1 text-primary" th:text="${product.getCategory().getName_category()}"></h6>
                                </div>
                                <div class="col-12 brd mt-2">
                                    <h6 class="float-left mt-1">Subcategory:</h6>
                                    <h6 class="float-right mt-1 text-primary" th:text="${product.getSubcategory().getName_subcategory()}"></h6>
                                </div>
                                <div class="col-12 brd mt-2">
                                    <h6 class="float-left mt-1">Price:</h6>
                                    <h6 class="float-right mt-1 text-primary" th:text="${product.getPrice()} + ' $'"></h6>
                                </div>
                                <div class="col-12 brd">
                                    <h6 class="float-left mt-1">Discount price:</h6>
                                    <h6 class="float-right mt-1 text-primary" th:text="${product.getDisc_price()} + ' $'"></h6>
                                </div>
                                <div class="col-12">
                                    <h6 class="mt-3 brd p-2">Contact</h6>
                                </div>
                                <div class="col-12 brd mt-2">
                                    <h6 class="float-left mt-1">Owner name:</h6>
                                    <h6 class="float-right mt-1" th:text="${product.getUser().getUsername()}"></h6>
                                </div>
                                <div class="col-12 brd mt-2">
                                    <h6 class="float-left mt-1">Owner mobile phone:</h6>
                                    <h6 class="float-right mt-1" th:text="'0' +${product.getUser().getMob_number()}"></h6>
                                </div>
                            </div>
                            <form th:action="@{/shopping_cart/{id}/add-product(id=${product.getId()})}" class="btn-mod pb-3" th:method="post">
                                <div class="btn bg-primary text-white float-right bnt-mod-point" data-dismiss="modal">Close Window <i class="fas fa-times"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-nav text-white pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Our goal</h5>
                <p>Creating an online marketplace where you can buy and sell used devices!</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Category</h5>

                <ul class="list-unstyled" th:each="category : ${category}">
                    <li>
                        <a href="#!" th:text="${category.getName_category()}"></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Subcategory</h5>

                <ul class="list-unstyled" th:each="subcategory : ${subcategory}">
                    <li>
                        <a href="#!" th:text="${subcategory.getName_subcategory()}"></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://stbcode.mk/"> STBCODE.MK</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>
